/* AddProjectModal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Grayish tint */
    display: none;
    z-index: 20;
}

.modal-content {
    font-family: 'Arame-Mono';
    position: relative; /* Ensure the close button is positioned relative to the modal */
    background-color: #E5F3FE;
    padding: 20px;
    width: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 1.5vw;
    color: #082A3E;
    font-size: 25px;
}
.modalBox{
    margin-top: 20px;
    text-align: left;

}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #E5F3FE inset !important;
}
.modal-content::-webkit-scrollbar {
    width: 0vw; /* Width of the scrollbar */
}


.modal-content label {
    font-size: 15px;
    text-align: left;
    display: block;
    margin-left: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
     box-sizing: border-box;
}



 .inputModalBox {
    
    width: 100%;
    padding: 10px;
    border-radius: 1.2vw;
    border-style: solid;
    border-color: #082A3E;
    font-size: 16px;
    background-color: transparent;
}

input:focus{
    outline: none; /* Remove default focus outline */
}

 .p-button {
    border-radius: 1.5vw;
    font-family: 'Arame-Mono';
    width: 30%;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    margin-left: 70%;
    border-style: solid;
}

.modal-content .close:hover {
    color: #555;
}
.p-dialog-header-close-icon:hover {
    /* Stilurile pentru efectul de hover */
    background-color: red; /* Schimbă culoarea de fundal */
    color: #E5F3FE; /* Schimbă culoarea textului */
}

@font-face {
    font-family: 'Arame-Mono';
    src: url('../../public/fonts/Arame-Mono.ttf') format('truetype');
}