/*Calendar*/

.Calendar .p-calendar,
.Calendar .p-calendar .p-calendar-container {
    width: 100% !important;
    height: auto !important;
    
}

.Calendar .p-calendar .p-datepicker tbody .p-datepicker-today {
    background-color: #048097; /* Background color for the current date cell */
    border-radius: 0.5vw;
    color: #082A3E; /* Border radius for rounded corners */
    
}

.Calendar .p-calendar .p-datepicker td.p-datepicker-other-month {
    color: Gray; /* Set the background color for days before the first day of the current month */
    
}

/* Hide the "Wk" column header and data cells */
.Calendar .p-calendar .p-datepicker th:nth-child(1),
.Calendar .p-calendar .p-datepicker td:nth-child(8n+1) {
    display: none;
}

/* Adjust the font size of the month and year in the calendar header */
.Calendar .p-calendar .p-datepicker-header .p-datepicker-month,
.Calendar .p-calendar .p-datepicker-header .p-datepicker-year {
    font-size: 1.3vw; /* Set the font size for the month and year */
    color: #082A3E;
    
    
    
    
}

/* Adjust the size of the navigation arrows */
.Calendar .p-calendar .p-datepicker-header .p-datepicker-prev,
.Calendar .p-calendar .p-datepicker-header .p-datepicker-next {
    font-size: 1.3vw; /* Set the font size of the arrows */
    width: 2vw; /* Set the width of the arrows */
    height: 2vw; /* Set the height of the arrows */
    border: none; /* Remove any borders */
    color: #082A3E; /* Set arrow color */
    background-color: transparent; /* Set background color to transparent */
    line-height: 1; /* Ensure arrows are centered vertically */
    padding: 0 !important; /* Remove any padding */
    margin: 0 !important; /* Remove any margin */
}


.Calendar .p-calendar .p-datepicker tbody td {
    padding: 0vw; /* Adjust the padding between rows */
    gap:0.6vw;
    margin: 0vw;
    column-gap: 0.6vw;
}




