.ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
  .ModalContent {
    font-family: 'Arame-Mono';
    background-image: radial-gradient(circle, #ffffff, #d9d9d9);
    color: #082A3E;
    border-radius: 2vw;
    max-width: 400px;
    margin: auto;
    padding: 2vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    text-align: center;
  }
  
  .ModalHeading {
    margin-bottom: 20px;
  }
  
  .ModalButton {
    border-radius: 1.5vw;
    font-family: 'Arame-Mono';
    width:30%;
    padding: 10px;
    font-size: 16px;
    background-color: transparent;
    border-style: solid;
    cursor: pointer;
  }
  .ModalButton:hover{
    background-color: yellow;
  }